.col {
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 300px
}

.hname,.position,.descri {
    margin: 0px;
    padding-left: 10%;
}

.descri {
    text-align: justify;
    padding-right: 10%;
    
}


