.full {
           
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #2d3c3e;
}

.left {
    
    width: 50%;
    height: 500px;
    background-color: #2d3c3e;
    
}

.right {
    
    width: 50%;
    height: 500px;
    background-color: #2d3c3e;
    
}

.head {

    position: absolute;
    left: 200px;
    font-family: Epilogue;
    font-size: 62px;
    line-height: 82px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    color: #ffffff;
}

.info {
    position: absolute;
    top: 190px;
    left: 200px;
    width: 308px;
    height: 113px;
    color: #ffffff;
}

.form {
    padding: 10% 10%
}

.image {
    position: absolute;
    top: 360px;
    left: 200px;
    width: 415px;
    height: 150px;
    border-radius: 10px;
}


.line{
    background-color: rgb(17, 17, 17);
    width: 0.1%;
    height: 20;
}


label{
    font-size:larger;
    color:#f0ecec;
}


button{
    color :#ffffff;
    background-color: rgb(96, 197, 234);
    width: auto;
    border:none;
    border-radius: 19px;
    font-size: 16px;
    padding: 14px 40px;
}
.svg{
    width: 30px;
    height: 30px;
}

#det{
    font-size:medium;
    color:#f0ecec;
}