.apppreviewcontainer {
  width: 100%;
  height: 700px;
  display: flex;
}
.containerr {
  display: flex;
}
.left {
  background-color: #262d2e;
  width: 65%;
  height: 800px;
}
.right {
  background-color: #262d2e;
  width: 35%;
  padding-top: 2%;
  padding-left: 5%;
  height: 100vh;

}
.img1 {
  background-color: #262d2e;;
  width: 90%;
  height: 400px;
  margin: 10%;
  margin-bottom: 0%;
  margin-top: 4%;
}
.imgrow2 {
  background-color: #262d2e;
  width: 80%;
  height: 200px;
  margin: 0%;
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
}
.img2 {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 120px;
  margin: 1%;
}

#bigimg {
  width: 100%;
  height: 600px;
}

#subimg {
  width: 100%;
  height: 120px;
}

h5,
h4,
h3,
h1,
p {
  margin: 0%;
  margin-top: 2%;
  color: rgb(255, 255, 255);
}

/*slideshow*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10%;
  margin-bottom: 0%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* movie */
#btndown,
#submit {
  top: 498px;
  left: 1243px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #00bdd6ff; /* primary-500 */
  background: #ebfdffff; /* transparent */
  opacity: 1;
  border-radius: 5px;
  border-width: 1px;
  border-color: #00bdd6ff; /* primary-500 */
  border-style: solid;
  margin-right: 2%;
}

#btndown:hover,
#submit:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(117, 206, 218);
}
#review {
  width: 65%;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(255, 255, 255); /* primary-500 */
  border-style: solid;
  background-color: rgb(235, 234, 233);
}
.checked {
  color: orange;
}

#btnq {
  padding: 18px 52.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0); /* neutral-600 */
  background: #ebfdffff; /* transparent */
  border-color: #00bdd6ff;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1px;
  width: 25%;
  height: 10px;
}

#btnq:hover {
  color: #00bdd6ff; /* primary-500 */
  border-bottom: #00bdd6ff;
}

#btnq:active {
  color: #00bdd6ff; /* primary-500 */
  background: rgb(143, 220, 231); /* transparent */
}

/* book */
.bookrow1 {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 300px;
  margin: 0%;
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
}

.bookp {
  background-color: black;
  width: 100%;
  margin: 1%;
}

#bookimg {
  width: 100%;
  height: 600px;
}
