body {
  background-color: white;
}

.split {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.split .left {
  width: 50%;
}

.split .right {
  width: 50%;
}

.centered {
  top: 50%;
  left: 50%;
  text-align: center;
}
